@function if-important($important) {
	@return #{if($important, "!important", "")};
}

@mixin hide($important: false) {
	opacity: 0 if-important($important);
	visibility: hidden if-important($important);
}

@mixin show {
	opacity: 1;
	visibility: visible;
}

@mixin transitionFade {
	$timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);

	transition: opacity $timing, visibility $timing;
}

.input {
	&:hover,
	&:focus-within {
		.clearButtonWrapper {
			@include show;
		}
	}

	.clearButtonWrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		@include hide;
		@include transitionFade;
	}
}

.wrapper {
	position: relative;
	flex: 1;

	.list {
		position: absolute;
		z-index: 10;
		overflow: hidden;
		width: 100%;
		box-sizing: border-box;
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		--Card-padding: 0;
		--List-item-paddingY: 0;

		@include hide;
		@include transitionFade;
	}
}

.inputEmpty {
	.clearButtonWrapper {
		@include hide(true);
	}
}

.focused {
	&.autoCompleteListShown {
		.list {
			@include show;
		}

		:global(.JoyInput-root) {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

.loadingWrapper {
	display: flex;
	min-height: 5rem;
	align-items: center;
	justify-content: center;
}
