.wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

	.half {
		flex: 1;
	}

	.itinerary {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: unset;

		.topText {
			display: flex;
			justify-content: space-between;
		}
	}
}

.loadingWrapper {
	display: flex;
	min-height: 10rem;
	align-items: center;
	justify-content: center;
}
